*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    /* background-color: cadetblue; */
}
.navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    background-color: rgb(255, 252, 250);
    padding: 0 3vw;
}

 .container .navbar button{
    /* border-radius: 10rem; */
    font-weight: 900;
    border: 1.5px solid black;
    font-size: 2vh;
    height: 6vh;
    width: 9vw;
}
.navbar .main{
    max-width: 500px;
    background-color: red;
}
.navbar .main a{
    align-items: center;
    text-decoration: none;
    padding-right:40px ;
    color:black;
    
}
 .heading p{
    padding-left: 25vw;
    padding-top: 5vh;
    /* background-color: aqua; */
    font-size: 7vh;

}
.img img{
  width: 100vw;
  height: 80vh;
}

.hamburger{
    width: 100px;
    height: 50px;
    background-color: red;
    display: none;
}

@media ( max-width: 400px ){
    .navbar .main {
      background-color: lightblue;
      display: none;
    }
    .hamburger{
        display: initial;
    }
  }
